body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  min-width: 300px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 130px));
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  justify-content: center;

  margin: 24px;
}